<h1 class="center" >Listing all article</h1>
<div class="apple_pagination">
  <%= will_paginate %>
</div>

<%= render 'articles/article', obj: @articles %>
<div class="digg_pagination ">
  <%= will_paginate %>
</div>
