<!doctype html>
<html lang="en">
  <head>
    <title>About us
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/Make%20it%20smart.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">



  </head>

  <body>
     <div class="container">
      <header>
          <h1>Make it smart, Make it easy</h1>
      </header>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="Index.html">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="about%20us.html">Why choose us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="services.html">our services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="build.html">Build your own</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="smart_home.html">Smart Homes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacts_us.html">Contact Us</a>
      </li>
      </ul>

   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-warning" type="submit">Search</button>
    </form>
  </div>

</nav>
      <main>
        <h2>
            Our services is what make people trust us
        </h2>
         <div>
             <ul class ="WCD" >
                 <li>
                     Muliple products and services all in one place.
                 </li>
                 <li>
                     More than 10 years of experience in the field.
                 </li>
             </ul>
         </div>
    </main>
    <footer>
      <div class="d-flex bd-highlight">
       <div class="p-2 flex-fill bd-highlight">
           <p class="Paragraph2" >ADDRESS</p>
           <p>12010 Garrett Bay Road<br>
     Ellison Bay, W1 54210</p>
          <P class="Paragraph2" >PHONE</P>
           <p>
     <a id="mobile" href="tel:888-555-5555">888-555-5555</a>
    <span id="desktop">888-555-5555</span>
         </p>
         <p class="Paragraph2" >EMAIL</p>
         <p><a href="mailto:kariem@gerges.com">kariem@gerges.com</a></p>
       </div>
           <div class="p-2 flex-fill bd-highlight">
              <p class="Paragraph2" >Quick links</p>
               <ul class ="WCD">
                   <li><a href="Index.html">Home</a></li>
                   <li><a href="about%20us.html">Why choose us</a></li>
                   <li><a href="services.html">Services</a></li>
                   <li><a href="build.html">Build your own</a></li>
                   <li><a href="smart_home.html">Smart Home</a></li>
                   <li><a href="contacts_us.html">Contact us</a></li>
                    <li>
                   <a href="https://google.com">Google</a> </li>
                   <li>
                    <a href="https://en.wikipedia.org/wiki/SMART_home_technology">What is Smart Homes?</a>
                   </li>
               </ul>
           </div>
            </div>
           <div id="coright" >Copyright &copy; 2018 <a href="Index.html">Make it smart, Make it easy</a>
            </div>
              </footer>
  </div>
  </body>
</html>


<%= link_to 'Home', root_path %>
