<h1 class="center" ><%= "Category: " + @category.name %></h1>
<div class="apple_pagination">
  <%= will_paginate @category_articles %>
</div>

<%= render 'articles/article', obj: @category_articles %>
<div class="apple_pagination ">
  <%= will_paginate @category_articles %>
</div>
