<div class="container">
  <footer>
    <div class="d-flex bd-highlight">
     <div class="p-2 flex-fill bd-highlight">
         <p class="Paragraph2" >ADDRESS</p>
         <p>12010 Garrett Bay Road<br>
   Ellison Bay, W1 54210</p>
        <P class="Paragraph2" >PHONE</P>
         <p>
   <a id="mobile" href="tel:888-555-5555">888-555-5555</a>
  <span id="desktop">888-555-5555</span>
       </p>
       <p class="Paragraph2" >EMAIL</p>
       <p><a href="mailto:kariem@gerges.com">kariem@gerges.com</a></p>
     </div>
         <div class="p-2 flex-fill bd-highlight">
            <p class="Paragraph2" >Quick links</p>
             <ul class ="WCD">
                 <li><%= link_to 'Home', root_path %></li>
                 <li><%= link_to 'About', about_path %></li>
                 <li><a href="https://google.com">Google</a></li>
              </ul>
         </div>
          </div>
          <div id="coright" >Copyright &copy; 2018 <a href="#">Ruby on rails projects</a>
          </div>
            </footer>
</div>
